.co-operation {
    margin: 0 57.8px;
    padding: 0 15px;
}

.title {
    margin-bottom: 10px;
    margin-top: 10px;
}

.title_name {
    text-align: center;
}

.brand {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}

.img_brand {
    margin: 2px 24px 20px 0;
    max-width: 100%;
    vertical-align: middle;
    width: 120px;
    height: 69px;
    min-width: 120px;
    min-height: 69px;
    vertical-align: middle;
}

.social_page {
    padding: 12px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    width: 25px;
    height: 25px;
    color: rgb(117, 109, 109);
}

.bi {
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.icon:hover {
    color: red;
}

@media (max-width: 766px) {
    .brand {
        flex-wrap: nowrap;
        width: 100%;
        height: 72px;
        padding: 6px;
        overflow-y: hidden;
        align-items: center;
        justify-content: left;
    }
    .social_page {
        justify-content: center;
    }
}