doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title PiedTeam
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide-core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  body
    include ./layout/header1.pug
    include ./layout/bestsale2.pug
    include ./layout/menu3.pug
    include ./layout/introduction4.pug
    include ./layout/brand5.pug
    include ./layout/footer6.pug
    //- h1 ahihi
    //- img(src="./../img/bg-login.jpg", alt="", srcset="")
    noscript  PiedTeam
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splidejs@4.0.7/dist/js/splide.min.js"></script> 
    script(src='../bundle.js')

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat vero laborum tenetur vel. Fuga obcaecati corrupti, earum mollitia dolore asperiores minima molestiae, nemo provident ipsam nobis veniam ut facere a?