//code here
.no
  .yes
    p  &Dstrok;&#x1ED3;ng H&#x1ED3; Nam B&aacute;n Ch&#x1EA1;y
  .container
    .card
      .block
        .img
          img(src='./../img/dong-ho-titoni-797-g-306_1614240492.jpg' alt='')
        .content
          p Casio AE-1200-1AVDF-Nam-K&iacute;nh nh&#x1EF1;a-Quartz(Pin)-D&acirc;y Kim Lo&#x1EA1;i
          .stars
            img(src='./../img/Ảnh chụp màn hình 2022-08-17 224557.png' alt='')
        .GiaCa
          p 1.308.000&#x20AB;
      .block
        .img
          img(src='./../img/ha.jpg' alt='')
        .content
          p Casio AE-1200-1AVDF-Nam-K&iacute;nh nh&#x1EF1;a-Quartz(Pin)-D&acirc;y Kim Lo&#x1EA1;i
          .stars
            img(src='./../img/Ảnh chụp màn hình 2022-08-17 224557.png' alt='')
        .GiaCa
          p 1.283.000&#x20AB;
      .block
        .img
          img(src='./../img/dong-ho-nam-titoni-797-s-307-1-org.jpg ' alt='')
        .content
          p Casio AE-1200-1AVDF-Nam-K&iacute;nh nh&#x1EF1;a-Quartz(Pin)-D&acirc;y Kim Lo&#x1EA1;i
          .stars
            img(src='./../img/Ảnh chụp màn hình 2022-08-17 224557.png' alt='')
        .GiaCa
          p 3.500.000&#x20AB;
      .block
        .img
          img(src='./../img/dong-ho-nam-mvw-ms075-01-1.-600x600.jpg' alt='')
        .content
          p Casio AE-1200-1AVDF-Nam-K&iacute;nh nh&#x1EF1;a-Quartz(Pin)-D&acirc;y Kim Lo&#x1EA1;i
          .stars
            img(src='./../img/Ảnh chụp màn hình 2022-08-17 224557.png' alt='')
        .GiaCa
          p 4.000.000&#x20AB;
      .block
        .img
          img(src='./../img/hi.jpg' alt='')
        .content
          p Casio AE-1200-1AVDF-Nam-K&iacute;nh nh&#x1EF1;a-Quartz(Pin)-D&acirc;y Kim Lo&#x1EA1;i
          .stars
            img(src='./../img/Ảnh chụp màn hình 2022-08-17 224557.png' alt='')
        .GiaCa
          p 6.800.000&#x20AB;
      .block
        .img
          img(src='./../img/casio-mtp-v005l-1b5udf-nam-1-600x600.jpg' alt='')
        .content
          p Casio AE-1200-1AVDF-Nam-K&iacute;nh nh&#x1EF1;a-Quartz(Pin)-D&acirc;y Kim Lo&#x1EA1;i
          .stars
            img(src='./../img/Ảnh chụp màn hình 2022-08-17 224557.png' alt='')
        .GiaCa
          p 15.000.000&#x20AB;
      .block
        .img
          img(src='./../img/meo.jpg' alt='')
        .content
          p Casio AE-1200-1AVDF-Nam-K&iacute;nh nh&#x1EF1;a-Quartz(Pin)-D&acirc;y Kim Lo&#x1EA1;i
          .stars
            img(src='./../img/Ảnh chụp màn hình 2022-08-17 224557.png' alt='')
        .GiaCa
          p 5.000.000&#x20AB;

script(type="module" src="../js/bestsale2.js") 