.co-operation 
    .container 
         .title 
           h3.title_name KHÁCH HÀNG CỦA CHÚNG TÔI
         hr
         .brand
           p 
            img.img1(src="./../img/UNILEVER.jpg", alt="")
           p  
            img.img2(src="./../img/NESTLE.jpg", alt="")
           p
            img.img3(src="./../img/NUMBER-1.jpg", alt="")
           p
            img.img4(src="./../img/PETRO.jpg", alt="")
           p
            img.img5(src="./../img/LAVIE.jpg", alt="")
           p
            img.img6(src="./../img/EVN.jpg", alt="")
           p
            img.img7(src="./../img/Bosch.jpg", alt="")
           p
            img.img8(src="./../img/POCA.jpg", alt="")
         hr
         .social_page 
            h4 SOCIAL PAGE: &nbsp 
            a(class='icon', href='')
              i(class="bi bi-facebook")
            p &nbsp&nbsp&nbsp
            a(class='icon', href='')
              i(class="bi bi-messenger")
            p &nbsp&nbsp&nbsp
            a(class='icon', href='')
              i(class="bi bi-twitter")
            p &nbsp&nbsp&nbsp
            a(class='icon', href='')
              i(class="bi bi-youtube")