.container_footer
  .picture
    div
      a(href='')
        img(width='150' height='80' src='https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.15752-9/295836964_742063383693230_5148382731161506595_n.png?stp=dst-png_s2048x2048&_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=eU91ev9TB44AX8j9y4L&tn=QXKtE6S0DsRK50TK&_nc_ht=scontent.fsgn2-3.fna&oh=03_AVKQg4pDEeVyDtlSdnFEsRO31Gz5uGWUvlHolH7yKB3RIw&oe=63221EDE' alt='')
      .title-footer
        span &Dstrok;&#x1ED3;ng h&#x1ED3; Vi&#x1EC7;t-Chu&#x1ED7;i c&#x1EED;a h&agrave;ng ph&acirc;n ph&#x1ED1;i &dstrok;&#x1ED3;ng h&#x1ED3; ch&iacute;nh h&atilde;ng uy t&iacute;n
  div
    .help-people
      .title2
        span
          | H&#x1ED6; TR&#x1EE2; KH&Aacute;CH H&Agrave;NG
      .list1
        li.icon-item
          | &#x2714; &nbsp;
          span Ch&iacute;nh s&aacute;ch giao nh&#x1EAD;n h&agrave;ng 
        li.icon-item
          | &#x2714; &nbsp;
          span H&#x1B0;&#x1EDB;ng d&#x1EAB;n mua tr&#x1EA3; g&oacute;p
        li.icon-item
          | &#x2714; &nbsp;
          span H&#x1B0;&#x1EDB;ng d&#x1EAB;n s&#x1EED;a ch&#x1EEF;a-thay th&#x1EBF;
  div
    .hotline
      .title3
        span HOTLINE: 0767 5555 98
      .list2
        li.icon-item
          | &#x2714; &nbsp;
          span C&aacute;c c&acirc;u h&#x1ECF;i th&#x1B0;&#x1EDD;ng g&#x1EB7;p
        li.icon-item
          | &#x2714; &nbsp;
          span H&#x1B0;&#x1EDB;ng d&#x1EAB;n &dstrok;&#x1EB7;t h&agrave;ng
        li.icon-item
          | &#x2714; &nbsp;
          span H&#x1B0;&#x1EDB;ng d&#x1EAB;n thanh to&aacute;n