doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Header
  link(rel='stylesheet' href='./style.css')
.nav-bg
  .container
    .nav
      .nav-logo
        a(href='https://donghoviet.vn/')
          img.img-logo1(src='../img/imgLogo1.png')
      .nav-menu
        span.nav-menu__list
          button.btn-menu__item.actived(href='') GIAO DI&#x1EC6;N DESKTOP
        span.nav-menu__list
          button.btn-menu__item(href='') GIAO DI&#x1EC6;N TABLET
        span.nav-menu__list
          button.btn-menu__item(href='') GIAO DI&#x1EC6;N MOBILE
        span.nav-menu__list1
          button.btn-useThisInterface(href='#') S&#x1EEC; D&#x1EE4;NG GIAO DI&#x1EC6;N N&Agrave;Y
.nav-bg2
  .container2
    .nav2
      .nav-logo2
        img.img-logo2(src='../img/imgLogo3.jpg')
      .hotline
        button.btn-hotline HOTLINE: 031 983 1380
.background
  img.img-background(src='../img/imgBackGround.png')
div(style='height: 100vh;')
script(src='./style.js')
