//code here
.container
  // <div class="c">
  .element-container
    .container-span
      .element
        span.element-item
          | &#x1F525; Cam k&#x1EBF;t ch&iacute;nh h&atilde;ng 1 &dstrok;&#x1ED5;i 1
    .container-span
      .element
        span.element-item
          | &#x1F525; Gi&aacute; c&#x1EA1;nh tranh nh&#x1EA5;t th&#x1ECB; tr&#x1B0;&#x1EDD;ng
    .container-span
      .element
        span.element-item
          | &#x1F525; Tr&#x1EA3; g&oacute;p 0% l&atilde;i su&#x1EA5;t t&#x1EAD;n nh&agrave;
  // </div>
  .information
    .information-container
      .information-item-1
        .information-span
          span.information-span-item
            b &Dstrok;&#x1ED3;ng h&#x1ED3; vi&#x1EC7;t
            |  - Chu&#x1ED7;i c&#x1EED;a h&agrave;ng ph&acirc;n ph&#x1ED1;i &dstrok;&#x1ED3;ng h&#x1ED3; ch&iacute;nh h&atilde;ng uy t&iacute;n b&#x1EAF;t &dstrok;&#x1EA7;u ph&aacute;t tri&#x1EC3;n v&agrave;
            |                             th&agrave;nh l&#x1EAD;p v&agrave;o &dstrok;&#x1EA7;u n&abreve;m 2020. C&ugrave;ng v&#x1EDB;i s&#x1EF1; n&#x1ED7; l&#x1EF1;c ph&aacute;t tri&#x1EC3;n kh&ocirc;ng ng&#x1EEB;ng, &Dstrok;&#x1ED3;ng h&#x1ED3; Vi&#x1EC7;t v&#x1EDB;i ti&ecirc;u
            |                             ch&iacute; lu&ocirc;n &dstrok;em l&#x1EA1;i nh&#x1EEF;ng gi&aacute; tr&#x1ECB; cao nh&#x1EA5;t cho kh&aacute;ch h&agrave;ng, th&#x1B0;&#x1A1;ng hi&#x1EC7;u kh&ocirc;ng ch&#x1EC9; &dstrok;em &dstrok;&#x1EBF;n nh&#x1EEF;ng
            |                             chi&#x1EBF;c &dstrok;&#x1ED3;ng h&#x1ED3; &dstrok;&#x1EA1;t ch&#x1EA5;t l&#x1B0;&#x1EE3;ng t&#x1ED1;t nh&#x1EA5;t m&agrave; c&ograve;n m&#x1EA1;ng l&#x1EA1;i s&#x1EF1; an t&acirc;m, tin c&#x1EAD;y cho kh&aacute;ch h&agrave;ng.
        .information-image
          img.img(width='630' height='630' src='./../img/Watch2.jpg' alt='hình đồng hồ')
      .information-item-2
        .information-item-input-heading-container
          .information-item-heading
            h2 Apple Watch - Thi&#x1EBF;t b&#x1ECB; c&#x1EE7;a t&#x1B0;&#x1A1;ng lai
        .information-item-input-container
          .information-item-input
            form.form-container
              .form-input
                label.form-input-label(for='') T&ecirc;n
                input.input(placeholder='Tên' type='text' name='' id='')
              .form-input
                label.form-input-label(for='') Phone
                input.input(placeholder='Phone' type='text' name='' id='')
              .form-input
                label.form-input-label(for='') M&#x1EAB;u &#x1B0;ng &yacute; 
                input.input(size='1' placeholder='Mẫu ưng ý' type='text' name='' id='')
              .btn-information
                button.btn(type='submit')
                  a.btn-span(href='#') G&#x1EEC;I
        .information-item-vocher-container
          .information-item-vocher
            span.voucher-span
              | &#x1F49D; T&#x1EB7;ng Voucher mua Apple Watch tr&#x1ECB; gi&aacute; 200k
              br
              |                                 &#x1F49D; &Dstrok;&#x1EB7;t Online gi&#x1EA3;m &dstrok;&#x1EBF;n 100k
              br
              |                                 &#x1F49D; T&#x1EB7;ng d&acirc;y &dstrok;eo Milanese tr&#x1ECB; gi&aacute; 300k
              br
              |                                 &#x1F49D; T&#x1EB7;ng voucher 200k mua Apple_Watch
              br
              |                                 &#x1F49D; Thu c&utilde; &dstrok;&#x1ED5;i m&#x1EDB;i, l&ecirc;n &dstrok;&#x1EDD;i kh&ocirc;ng b&ugrave; ti&#x1EC1;n

script(type="module" src="../js/introduction4.js") 