//code here
html
script(type="module" src="../js/menu3.js") 
doctype html
html(lang='vi')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
  body
    // Card-block
    .container-menu 
      .header
        img(src="../img/imgBannerAW3.png", alt="#")
      .catalo-card
        .card-block
          .cost
            | Giảm 1.100.000đ
          .img
            img(src='../img/imgAW1.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Apple Watch Series 3 GPS
            br
            |  38mm Aluminum Cũ 99%
          .content
            p
              | 3.889.000đ 
              span
                del 4.989.000đ
          .button
            | ĐẶT MUA
          .view
            | 62621 lượt khách đã xem
        .card-block
          .cost
            | Giảm 900.000đ
          .img
            img(src='../img/imgAW2.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Apple Watch Series 3 LTE
            br
            |  42mm Aluminum Cũ 99%
          .content
            p
              | 4.589.000đ
              span
                del 5.589.000đ
          .button
            | ĐẶT MUA
          .view
            | 47204 lượt khách đã xem
        .card-block
          .cost
            | Giảm 601.000đ
          .img
            img(src='../img/imgAW3.png', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Apple Watch Series 3 GPS
            br
            |  42mm Stainless Steel Cũ 99%
          .content
            p
              | 5.889.000đ 
              span
                del 6.490.000đ
          .button
            | ĐẶT MUA
          .view
            | 29397 lượt khách đã xem
        .card-block
          .cost
            | Giảm 1.100.000đ
          .img
            img(src='../img/imgAW4.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Apple Watch Series 3 GPS
            br
            |  42mm Aluminum Cũ 99%
          .content
            p
              | 4.789.000đ 
              span
                del 5.289.000đ
          .button
            | ĐẶT MUA
          .view
            | 9190 lượt khách đã xem
    .container-menu
      .header
        img(src='../img/imgBannerAW4.png', alt='#')
      .catalo-card
        .card-block
          .cost
            | Giảm 2.001.000đ
          .img
            img(src='../img/imgAW5.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Apple Watch Series 4 44mm
            br
            |  LTE MTV72/MTX42
          .content
            p
              | 12.589.000đ 
              span
                del 14.590.000đ
          .button
            | ĐẶT MUA
          .view
            | 2292 lượt khách đã xem
        .card-block
          .cost
            | Giảm 2.001.000đ
          .img
            img(src='../img/imgAW6.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Apple Watch Series 4 44mm
            br
            |  GPS+CELLULAR
          .content
            p
              | 12.589.000đ 
              span 
                del 14.590.000đ
          .button
            | ĐẶT MUA
          .view
            | 47204 lượt khách đã xem
        .card-block
          .cost
            | Giảm 601.000đ
          .img
            img(src='../img/imgAW7.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Apple Watch Series 3 LTE
            br
            |  42mm Stainless Steel Cũ 99%
          .content
            p
              | 5.889.000đ 
              span
                del 6.490.000đ
          .button
            | ĐẶT MUA
          .view
            | 29397 lượt khách đã xem
        .card-block
          .cost
            | Giảm 1.100.000đ
          .img
            img(src='../img/imgAW8.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Apple Watch Series 3 GPS
            br
            |  42mm Aluminum Cũ 99%
          .content
            p
              | 4.789.000đ 
              span
                del 5.289.000đ
          .button
            | ĐẶT MUA
          .view
            | 9190 lượt khách đã xem
    .container-menu
      .header
        img(src='../img/imgAWP.png', alt='#')
      .catalo-card
        .card-block
          .cost
            | Giảm 2.001.000đ
          .img
            img(src='../img/imgAW9.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Dây Apple Watch Milanese
            br
            |  Loop 44mm Likenew
          .content
            p
              | 2.689.000đ 
              span
                del 3.390.000đ
          .button
            | ĐẶT MUA
          .view
            | 3274 lượt khách đã xem
        .card-block
          .cost
            | Giảm 2.001.000đ
          .img
            img(src='../img/imgAW10.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Dây Apple Watch Sport Band
            br
            |  38/40mm Mới - Chính Hãng
          .content
            p
              | 490.000đ 
              span
                del 989.000đ
          .button
            | ĐẶT MUA
          .view
            | 5512 lượt khách đã xem
        .card-block
          .cost
            | Giảm 601.000đ
          .img
            img(src='../img/imgAW11.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Dây Apple Watch Sport Band
            br
            |  38/40mm Mới - Chính Hãng
          .content
            p
              | 490.000đ  
              span
                del 989.000đ
          .button
            | ĐẶT MUA
          .view
            | 3487 lượt khách đã xem
        .card-block
          .cost
            | Giảm 1.100.000đ
          .img
            img(src='../img/imgAW12.jpg', alt='#')
          .img-sub
            img(src='../img/imgBannerAW.png', alt='#')
          .tittle
            br
            |  Dây đeo Apple Watch 42mm
            br
            |  Catalyst Sports Bands
          .content
            p
              | 789.000đ 
              span 
                del 990.000đ
          .button
            | ĐẶT MUA
          .view
            | 3290 lượt khách đã xem